@import url("https://fonts.googleapis.com/css2?family=Butcherman&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #fc1e8a;
  user-select: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: linear-gradient(325deg, #03001e, #7303c0, #ec38bc, #fdeff9);
  padding: 40px 60px;
}

h2 {
  font-size: 3em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.reset {
  padding: 15px 20px;
  width: 100%;
  color: #000;
  background-color: #fff;
  border: none;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
}

.reset:focus {
  color: #ec38bc;
  background-color: #262809;
}

.game {
  display: flex;
  width: 430px;
  height: 430px;
  flex-wrap: wrap;
  gap: 10px;
  transform-style: preserve-3d;
  perspective: 500px;
}

.item {
  display: flex;
  position: relative;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  font-size: 3em;
  transform: rotateY(180deg);
  transition: 0.25s;
}

.item::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #404040;
  /* opacity: 0.85; */
  transition: 0.25s;
  transform: rotateY(0deg);
  backface-visibility: hidden;
}

.item.boxOpen {
  transform: rotateY(0deg);
}

.boxOpen::after,
boxMatch::after {
  transform: rotateY(180deg);
}

.msg {
  font-family: "Butcherman", system-ui;
  text-align: center;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  height: 50vh;
  text-transform: uppercase;
  color: #fff;
  background-image: linear-gradient(-250deg, #ff00, #fffb00, #0ff, #0f0, #00f);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: bgText 2.5s linear infinite;
}

@keyframes bgText {
  to {
    background-position: 200% center;
  }
}
